.element__like-botton {
    min-width: 22px;
    min-height: 19px;
    margin: 0px 0px 6px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0px;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.element__like-botton:hover {
    opacity: 0.5;
}
.element__like-botton:active {
    opacity: 1;
    background-image: url(../../../images/like_active.svg);
}